<html>
<head>
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Noto+Serif:700,700italic' rel='stylesheet' type='text/css'>
    <canvas></canvas>

<h1> Oh, something happened </h1>
<a href="/"> <img src="images/home.jpg" height="80"/><br> home </a>

<script src="css/js/404.js"></script>
</body>
</html>