.cols {
    white-space: nowrap;
}
.inline {
    display: inline-block;
    color: #FFEBCD;
    text-decoration: none;
    text-align: center;
    border-radius: 7px;
    border: 1px solid;
    white-space: nowrap;
    margin: 10px;
}