.top{
    background-color: ghostwhite;
    padding-left: 30%;
    padding-right: 30%;
}
.side{
    background-color: ghostwhite;
    margin-right: 70%;
    margin-left: 70%;
}
.body{
    margin-left: 30%;
    margin-right: 30%;
}
.cols {
    white-space: nowrap;
}
.inline {
    display: inline-block;
    color: #FFEBCD;
    text-decoration: none;
    text-align: center;
    border-radius: 7px;
    border: 1px solid;
    white-space: nowrap;
    margin: 10px;
}