<html>

<body>


<a href="/"> <img src="images/home.jpg" height="80"/> home </a>
<a href="/upload"> <img src="/images/upload.jpg" height="80"/> upload </a>
<a href="/search"> <img src="/images/search.jpg" height="80" alt="search"/> search</a>
<a href="/forum"> <img src="/images/forum.jpg" height="80" alt="forum"/> forum</a>
<form action = "\logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="submit" value="Sing out"/>
</form>

<div>
    <br></br>
    <p> Enter your massage </p>
    <form method="post">
        <input type="text" name="text" placeholder="text" />
        <input type="text" name="tag" placeholder="tag"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Ok</button>
    </form>
</div>

 {{#messages}}
 <div>
     <b>{{id}}</b>
     <span>{{text}}</span>
     <i>{{tag}}</i>
 </div>
 {{/messages}}
</body>
</html>