<html>

<head>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="inline">
    <div class="inline">
        <a href="/"> <img src="images/home.jpg" height="80"/><br/> home </a>
    </div>
    <div class="inline">
        <a href="/upload"> <img src="/images/upload.jpg" height="80"/> <br/>upload </a>
    </div>
    <div class="inline">
        <a href="/search"> <img src="/images/search.jpg" height="80" alt="search"/> <br/>search</a>
    </div>
    <div class="inline">
        <a href="/forum"> <img src="/images/forum.jpg" height="80" alt="forum"/> <br/>forum</a>
    </div>
    <div class="inline">
        <img src="/images/login.jpg" height="80"/>
        <form action = "\logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sing out"/>
        </form>
    </div>
</div>

<div>
    <br></br>
    <p> Enter your message </p>
    <form action="/forum" method="post">
        <input type="text" name="text" placeholder="text" />
        <input type="text" name="tag" placeholder="tag"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Ok</button>
    </form>

    <p> find by tag </p>
    <form action="/findmessage" method="post">
        <input type="text" name="tag" placeholder="tag"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Ok</button>
    </form>
</div>

 {{#messages}}
 <div >
     <b>{{id}}</b>
     <span>{{text}}</span>
     <i>{{tag}}</i>
     <b> {{authorName}}</b>
 </div>
 {{/messages}}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>