<html>

<body>
<a href="/"> <img src="images/home.jpg" height="80"/> home </a>
<a href="/upload"> <img src="/images/upload.jpg" height="80"/> upload </a>
<a href="/search"> <img src="/images/search.jpg" height="80" alt="search"/> search</a>
<a href="/forum"> <img src="/images/forum.jpg" height="80" alt="forum"/> forum</a>
<form action = "\logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="submit" value="Sing out"/>
</form>
<br/>
<br/>


<div> Found </div>
<form method="post" action="filter">
    <input type="text" name="filter"></input>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">find by tag</button>
</form>
{{#subjects}}
<div>
    <b> <img src = {{pic}} height = "200" weight = "200"/></b>
    <span>{{title}}</span>
    <i>{{tag}}</i>
</div>
{{/subjects}}



</body>
</html>