<html>

<head>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="inline">
    <div class="inline">
        <a href="/"> <img src="images/home.jpg" height="80"/><br> home </a>
    </div>
    <div class="inline">
        <a href="/upload"> <img src="/images/upload.jpg" height="80"/> <br>upload </a>
    </div>
    <div class="inline">
        <a href="/search"> <img src="/images/search.jpg" height="80" alt="search"/> <br>search</a>
    </div>
    <div class="inline">
        <a href="/forum"> <img src="/images/forum.jpg" height="80" alt="forum"/> <br>forum</a>
    </div>
    <div class="inline">
        <img src="/images/login.jpg" height="80"/>
        <form action="\logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sing out"/>
        </form>
    </div>
</div>
<br></br>
<!--{{#list users as user}}
    <b>{{user.userName}}</b>
    <b> {{role}}</b>
<b> {{user.id}}</b>
{{/list users as user}}-->

{{#user}}
<div>
    <b>{{id}}</b>
    <b>{{username}}</b>
    <b>{{roles}}</b>
</div>
{{/user}}


</body>
</html>